.order-page{
    margin: 16.5vh auto;
    color: #222222;

    h1{
        font-size: 32px;
        font-family: Circular-bold;
    }
}


.trips-page-header{
    display: flex;
    border-bottom: #dadada 1px solid;
    justify-content: space-between
    // gap: 63.9%;
    // @include for-normal-layout {//720+40
    //     gap: 43.7%;;
    // }
    // @include for-large-layout{//960+40
    //     gap: 50%;
    // }

    // @include for-wide-layout {  //1300+40
    //     gap: 57%;
    // }

    // @include for-extraLarge-layout {    //1500  +40
    //     gap: 60%;
    //  }
}

.left-btns{
    align-self: center;
    button{
        background-color: transparent;
        font-size: 16px;
        font-family: Circular;
        color: #717171;
        margin: unset;
        padding: unset;
        height: 50px;
        // padding-bottom: 26px;
        
        &:nth-child(2){
            margin-inline-start: 13px;
        }
        
    }

    .order-active{
       color: #222222;
       box-shadow: inset 0 -2px 0 0 #000;
    
    }
}

.right-btns{
    button{
        background-color: transparent;
        font-size: 14px;
        font-family: Circular-light;
        border: solid 1px rgba(0,0,0,.2196078431372549);
        border-radius: 20px;
        padding: 8px 18px;;
    }

}

