.drop-down-property-type{
    background-color: white;
    color: black;
    position: absolute;
    // top: 16.8rem;
    // left: 18%;
    width: 138px;
    // z-index: 6;
    border-radius: 13px;
    font-size: 16px;
    font-family: Circular-book;
    z-index: 20;
    a{
        color:black
    }
ul{
    margin: unset;
    padding: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 13px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.13);
    >*:not(:last-child){
      border-bottom: 1px solid #c7c7c7;
    }
}

  li{
      list-style: none;
      padding: 16px;
      width: 100%;
      
}


li:hover {
  background-color: rgb(226, 224, 224);
  cursor: pointer;

  &:first-child {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
  }
  &:last-child {
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
  }
}


  }  