.login-modal {
  position: fixed;
  right: 10px;
  padding: 20px;
  z-index: 40;
  transition: bottom 1s;
  border: 1px solid #d8d7d7;
  border-radius: 10px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5%);
  bottom: -100px;
  width: 580px;
  background-color: #fff;
  h1 {
    text-align: center;
  }
  .login-modal-actions {
    display: flex;
    gap: 25px;
    justify-content: space-around;

    .login-modal-demo-btn {
      background-color: transparent;
      border: 1px solid rgb(3, 187, 3);
      color: rgb(3, 187, 3);
      border-radius: 7px;
      padding: 10px;
      margin: 0;
      font-weight: 500;
    }
    .login-modal-login-btn {
      background-color: transparent;
      border: 1px solid rgb(253, 66, 52);
      color: rgb(253, 66, 52);
      border-radius: 7px;
      padding: 10px;
      margin: 0;
      font-weight: 500;
    }
  }
}
.shown {
  bottom: 10px;
}
