.host-orders-list {
  table {
    line-height: 3;
    border-radius: 10px;
    width: fit-content;
    background-color: white;
    margin-top: -5%;
    width: 100%;
    border-collapse: collapse;

    //  border-radius: 14px;
    thead {
      text-align: left;
      border-bottom: 1px solid rgb(223, 223, 214);
      font-size: 14px;
    }
    tr:not(:last-child) td {
      border-bottom: 1px solid rgb(240, 240, 232);
    }
    td {
      margin: 3%;
      font-family: Circular-light;
      padding: 5px;
      font-size: 0.9rem;
      img {
        vertical-align: middle;
      }
    }
    td:first-child {
      text-align: start;
    }

    th:last-child {
      text-align: center;
      border-bottom: 1px solid rgb(223, 223, 214);
    }
    th:first-child {
      padding-left: 5px;
    }
    .host-accept-btn {
      &:hover {
        background: lightgreen;
      }
    }
    .host-decline-btn {
      &:hover {
        background: lightpink;
      }
    }
    .host-orders-img {
      padding: 5px;
      object-fit: cover;
      border-radius: 10px;
      height: 60px;
      width: 60px;
    }

    .pending {
      border-radius: 100vw;
      text-align: center;
      background-color: rgb(245, 245, 72);
      padding: 10px;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.18);
      padding-right: 18px;
    }
    .accepted {
      text-align: center;
      border-radius: 100vw;
      background-color: lightgreen;
      padding: 10px;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.18);

    }
    .declined {
      padding: 10px;
      border-radius: 100vw;
      text-align: center;
      background-color: lightpink;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.18);
      padding-right: 18px;

    }
  }
}
