@font-face {
  font-family: Circular;
  src: url(../../fonts/airbnb/AirbnbCerealMedium.woff);
}
@font-face {
  font-family: Circular-bold;
  src: url(../../fonts/airbnb/AirbnbCerealBold.woff);
}
@font-face {
  font-family: Circular-light;
  src: url(../../fonts/airbnb/AirbnbCerealLight.woff);
}
@font-face {
  font-family: Circular-book;
  src: url(../../fonts/airbnb/AirbnbCerealBook.woff);
}

