// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222222;

// Breakpoints
$mobile-breakpoint: 335px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$large-breakpoint: 1300px;
$wide-breakpoint: 1500px;

//Details breakpoints
$mobile-details-breakpoint: 460px;
$narrow-details-breakpoint: 730px;
$normal-details-breakpoint: 960px;
$large-details-breakpoint: 1110px;
// $wide-details-breakpoint: 1110px;
// $extraLarge-details-breakpoint: 1110px;
